Repository BF-FrontEnd-class/agile-development-group1-all-about-trees, pull requests merged in 2023-05, with the labels that each got.

#5 add project definition
  README.md
Labels: md, planning

#10 Add communication
  .cspell.json
  planning/communication.md
Labels: md, planning

#12 add backlog.md
  planning/backlog.md
  planning/user-personas.md
Labels: md, planning

#14 added design
  planning/design.md
Labels: md, planning

#16 development-strategy
  planning/development-strategy.md
Labels: md, planning

#28 edited index.html
  index.html
Labels: html

#32 added links:html
  index.html
Labels: html

#34 update title
  index.html
Labels: html, css

#44 descrption HTML
  index.html
Labels: html

#43 Add image
  assets/happy-tree.png
  index.html
Labels: html

#41 update link:css
  styles/something.css
Labels: css

#45 descrption css
  .cspell.json
  assets/happy-tree.png
  index.html
  styles/something.css
Labels: css

#48 Descrption
  styles/something.css
Labels: css

#18 update user-persones.md
  planning/user-personas.md
Labels: md, planning

#51 add Retrospective
  .cspell.json
  planning/retrospective.md
Labels: md, planning, retrospective

#53 fix links issues and update readme
  README.md
  index.html
  planning/image.png
  planning/screenshot.jpg
  public/happy-tree.png
Labels: md, html
